body{
	background-color: blue;
}

h1{
	margin-left: 20px;
	text-align:center;
}

h2{
	text-align: center;
}
.menu{
	width: 18em;
    border: 2px solid #333;
    box-shadow: 8px 8px 5px rgb(239, 227, 3);
    padding: 8px 12px;
    background-image: linear-gradient(180deg, yellow, yellow 40%, yellow);
}

.Inmenu{
	text-align:center;
}

.needAlign{
	margin-left: 700px;
}

.needSoftAlign{
	margin-left: 300px;
}